<template>
  <b-container fluid>
    <b-row no-gutters class="d-flex justify-content-center">
     <div class="banner" >
        <b-col cols="12" class="d-flex justify-content-center" style="padding: 0%;">
          <div>
            <b-carousel
              id="carousel-1"
              v-model="slide"
              :interval="4000"
              controls
              indicators
              background="#ababab"
              img-width="100%"
              img-height="480"
              style="text-shadow: 1px 1px 2px #333;"
              @sliding-start="onSlideStart"
              @sliding-end="onSlideEnd"
            >
              <!-- Text slides with image 
              caption="First slide"
              text="Nulla vitae elit libero, a pharetra augue mollis interdum."
                -->
              <b-carousel-slide img-src="../assets/banner/banner.png"></b-carousel-slide>

              <!-- Slides with custom text -->
              <b-carousel-slide img-src="../assets/banner/banner.png">
                <!-- <h1>Hello world!</h1> -->
              </b-carousel-slide>

              <!-- Slides with image only -->
              <b-carousel-slide img-src="../assets/banner/banner.png"></b-carousel-slide>

              <!-- Slides with img slot -->
              <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
              <!-- <b-carousel-slide>
                <template #img>
                  <img
                    class="d-block img-fluid w-100"
                    width="1024"
                    height="480"
                    src="https://picsum.photos/1024/480/?image=55"
                    alt="image slot"
                  >
                </template>
              </b-carousel-slide> -->

              <!-- Slide with blank fluid image to maintain slide aspect ratio -->
              <!-- <b-carousel-slide caption="Blank Image" img-blank img-alt="Blank image">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eros felis, tincidunt
                  a tincidunt eget, convallis vel est. Ut pellentesque ut lacus vel interdum.
                </p>
              </b-carousel-slide> -->
            </b-carousel>

            <!-- <p class="mt-4">
              Slide #: {{ slide }}<br>
              Sliding: {{ sliding }}
            </p> -->
          </div>
        </b-col>
      </div>
      </b-row>
  </b-container>
</template>

<script>
export default {
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
}
</script>

<style>

</style>