<template>
  <b-container fluid>
      <b-row no-gutters class="d-flex justify-content-center">
         <b-col cols="12" class="d-flex justify-content-center">

              <div class="modal_login">
                        <b-modal id="modal-login" ref="modal-login" modal-title="modal-login" dialog-class="login-modal-dialog" content-class="main-menu-modal" centered >
                            <div class="menu_modal">
                            </div>
                           <form ref="form" @submit.stop.prevent="">
                            <div class="from-login">
                            <b-row  no-gutters>
                              <b-col cols="11">
                            <input id="inputphone" v-model="ppQuantity" type="number" maxlength="13" class="form-control "   aria-describedby="phone" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" @keypress="onlyNumber" >
                              </b-col>
                              <b-col cols="11 mt-3">
                            <input id="inputpassword" type="password" maxlength="12"  class="form-control" aria-describedby="password" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeydown="javascript: return /^[ก-๛]+$/.test(event.key) ? false : true">
                              </b-col>
                            </b-row>
                            </div>
                            <div class="button">
                              <center class=""><button v-b-modal.modal-menu type="submit"  class="button-accept" ></button></center>
                            </div>
                           </form>
                </b-modal>
            </div>
            <div class="register">
                  <b-modal id="modal-register"  ref="modal-register" modal-title="modal-register" dialog-class="register-modal-dialog"  content-class="register-modal" centered >
                            <div class="register-user">
                            <b-col cols="12" class="d-flex justify-content-center">
                            <div class="menu_modal">
                              <center class=" "><img src="../assets/modal/register-menu.png" class="menu"></center>
                              <center class=" "><img src="../assets/modal/sidebar1.png" class="sidebar"></center>
                            </div>
                            </b-col>
                            
                            <b-form class="text-white" @submit="onSubmit" @reset="onReset" >
                            
                            <b-col cols="12" class="d-flex justify-content-center">
                            <b-form-group
                                id="input-group-1"
                                label="กรุณากรอกชื่อผู้ใช้"
                                label-for="input-1"
                                description=""
                                class="form-group"
                              >
                                <b-form-input
                                  id="input-1"
                                  v-model="form.username"
                                  type="email"
                                  placeholder="ผู้ใช้งาน"
                                  required
                                  class="input"
                                ></b-form-input>
                              </b-form-group>
                              </b-col>
                               <b-col cols="12" class="d-flex justify-content-center">
                              <b-form-group
                                id="input-group-2"
                                label="กรุณากรอกเบอร์โทรศัพท์"
                                label-for="input-2"
                                description=""
                                class="form-group"
                              >
                                <b-form-input
                                  id="input-2"
                                  v-model="form.phone"
                                  type="email"
                                  placeholder="เบอร์โทรศัพท์"
                                  required
                                  class="input"
                                ></b-form-input>
                              </b-form-group>
                               </b-col>
                               <b-col cols="12" class="d-flex justify-content-center">
                              <b-button type="submit" class="button"></b-button>
                               </b-col>
                            
                           </b-form>
                           </div>
                           <div class="register-password">
                            <b-col cols="12" class="d-flex justify-content-center">
                            <div class="menu_modal">
                              <center class=" "><img src="../assets/modal/password-menu.png" class="menu"></center>
                              <center class=" "><img src="../assets/modal/sidebar3.png" class="sidebar"></center>
                            </div>
                            </b-col>
                            
                            <b-form class="text-white" @submit="onSubmit" @reset="onReset" >
                            
                            <b-col cols="12" class="d-flex justify-content-center">
                            <b-form-group
                                id="input-group-4"
                                label="กรุณากรอกรหัสผ่าน"
                                label-for="input-4"
                                description=""
                                class="form-group"
                              >
                                <b-form-input
                                  id="input-4"
                                  v-model="form.username"
                                  type="email"
                                  placeholder="ผู้ใช้งาน"
                                  required
                                  class="input"
                                ></b-form-input>
                              </b-form-group>
                              </b-col>
                               <b-col cols="12" class="d-flex justify-content-center">
                              <b-form-group
                                id="input-group-2"
                                label="กรุณากรอกเบอร์โทรศัพท์"
                                label-for="input-2"
                                description=""
                                class="form-group"
                              >
                                <b-form-input
                                  id="input-2"
                                  v-model="form.phone"
                                  type="email"
                                  placeholder="เบอร์โทรศัพท์"
                                  required
                                  class="input"
                                ></b-form-input>
                              </b-form-group>
                               </b-col>
                               <b-col cols="12" class="d-flex justify-content-center">
                              <b-button type="submit" class="button"></b-button>
                               </b-col>
                            
                           </b-form>
                           </div>
                    </b-modal>
            </div>
          
         </b-col>
      </b-row>
  </b-container>
</template>

<script>
export default {
    data() {
      return {
        form: {
          username:'',
          phone: '',
          email: '',
          name: '',
          food: null,
          checked: []
        },
        show: true
      }
    },
    methods: {
      onlyNumber ($event) {
      const keyCode = ($event.keyCode ? $event.keyCode : $event.which);
      if ((keyCode < 48 || keyCode > 57) ) { // 46 is dot
      $event.preventDefault();
        }
      },
      onSubmit(event) {
        event.preventDefault()
        alert(JSON.stringify(this.form))
      },
      onReset(event) {
        event.preventDefault()
        // Reset our form values
        this.form.username = ''
        this.form.phone = ''
        this.form.email = ''
        this.form.name = ''
        this.form.food = null
        this.form.checked = []
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
}
</script>

<style lang="scss" scoped>
  
  
  
</style>