<template>
    
    <nav class="navbar  header-menu navbar-expand-xl  navbar-light bg-light justify-content-between">
    <NuxtLink to="/"><a class="navbar-brand"><img src="../assets/index/logo.png"></a></NuxtLink>
    <b-navbar-toggle target="navbardrop">
      <template #default="{ expanded }">
        <span  v-if="expanded" class="navbar-toggler-icon"></span>
        <span v-else  class="navbar-toggler-icon"></span>
      </template>
    </b-navbar-toggle>


    <b-collapse id="navbardrop" is-nav>
      <b-navbar-nav class="ml-auto">
        <a class="nav-link" >หน้าแรก</a>
        <NuxtLink to="/games"><a class="nav-link">แลกของรางวัล </a></NuxtLink>
        <NuxtLink to="/how-to-change-gif"><a class="nav-link" >วิธีแลกของรางวัล</a></NuxtLink>
        <a class="nav-link" >สมัครสมาชิก</a>
        <a class="nav-link login-a" >เข้าสู่ระบบ</a>
        <button v-b-modal.modal-login type="button" class="button-login" ></button>
      </b-navbar-nav>
    </b-collapse>
    </nav>
    
    
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
    .login-a{
        display: none;
    }
    .ml-auto a:hover{
        color: white;
        text-decoration: none;
    }
    
    @media only screen and (max-width: 1200px){
        .button-login{
            display: none;
        }
         .login-a{
             display: block;
         }
         .ml-auto a{
             text-decoration: none;
         }
         .ml-auto a:hover{
             background-color: #CC9C35;
             color: white;
             text-decoration-line: none;
         }
    }
    .navbar-toggler{
        background-image: url('@/assets/index/navbar.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        width: 65px;
        height: 62px;
    }
    .navbar-toggler-icon{
        display: none;
    }
</style>
    
