@font-face {
    font-family: 'Prompt-Regular';
    src: url('~@/assets/fonts/Prompt/Prompt-Regular.eot');
    src: url('~@/assets/fonts/Prompt/Prompt-Regular.eot?')
        format('embedded-opentype'),
      url('~@/assets/fonts/Prompt/Prompt-Regular.woff') format('woff'),
      url('~@/assets/fonts/Prompt/Prompt-Regular.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'Prompt-Light';
    src: url('~@/assets/fonts/Prompt/Prompt-Light.eot');
    src: url('~@/assets/fonts/Prompt/Prompt-Light.eot?')
        format('embedded-opentype'),
      url('~@/assets/fonts/Prompt/Prompt-Light.woff') format('woff'),
      url('~@/assets/fonts/Prompt/Prompt-Light.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'Prompt-Bold';
    src: url('~@/assets/fonts/Prompt/Prompt-Bold.eot');
    src: url('~@/assets/fonts/Prompt/Prompt-Bold.eot?')
        format('embedded-opentype'),
      url('~@/assets/fonts/Prompt/Prompt-Bold.woff') format('woff'),
      url('~@/assets/fonts/Prompt/Prompt-Bold.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'Roboto-Regular';
    src: url('~@/assets/fonts/Roboto/Roboto-Regular.eot');
    src: url('~@/assets/fonts/Roboto/Roboto-Regular.eot?')
        format('embedded-opentype'),
      url('~@/assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
      url('~@/assets/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'Roboto-Light';
    src: url('~@/assets/fonts/Roboto/Roboto-Light.eot');
    src: url('~@/assets/fonts/Roboto/Roboto-Light.eot?')
        format('embedded-opentype'),
      url('~@/assets/fonts/Roboto/Roboto-Light.woff') format('woff'),
      url('~@/assets/fonts/Roboto/Roboto-Light.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'Roboto-Bold';
    src: url('~@/assets/fonts/Roboto/Roboto-Bold.eot');
    src: url('~@/assets/fonts/Roboto/Roboto-Bold.eot?')
        format('embedded-opentype'),
      url('~@/assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
      url('~@/assets/fonts/Roboto/Roboto-Bold.ttf') format('ttf');
  }
  
  body,
  html {
    font-family: 'Prompt-Regular';
    font-style: normal;
  }


.container-fluid{
    padding-left: 0%;
    padding-right: 0%;

}
.header-menu{
    padding-top: 0%;
    padding-bottom: 0%;
    // padding-left: 0%;
    background-image: linear-gradient(to right , #2F3541 , #343F50 , #26375C );
    .navbar-brand img{
        width: 149px;
        height: 149px;
    }

        .nav-link{
            font-size: 30px;
            color: white;
        }
        .button-login{
            background: none;
            border: none;
            background-image: url('@/assets/index/button-login.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            max-width: 100%;
            width: 318px;
            height: 74px;
        }
    @media screen and (max-width: 320px){
        .navbar-brand img{
            width: 100px;
            height: 100px;
        }
    
    }
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}

.login-modal{
    background: none;
    border: none;
    .modal-header{
        display: none;
    }
    .modal-footer{
        display: none;
    }
}
.login-modal-dialog{
    background: none;
    border: none;
    background-image: url('@/assets/modal/bg-login.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    max-width: 100%;
    width: 1011px;
    height: 762px;

    .modal-body{
        width: auto;
        height: auto;

    }
    @media only screen and (max-width: 768px) {
        width:  600px;
        height: 200px;
       
        
    }
    @media only screen and (max-width: 414px) {
        width:  300px;
        height: 40px;
       
        
    }
    .button-accept{
        background: none;
        border: none;
        background-image: url('@/assets/modal/login-button.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        width: 318px;
        height: 167px;
    }
    
}

.register-modal-dialog{
    background: none;
    border: none;
    
    
    width: auto;
    height: auto;
}  
.register-modal{
    background: none;
    border: none;
    .modal-header{
        display: none;
    }
    .modal-footer{
        display: none;
    }
    .modal-body{
        background-image: url('@/assets/modal/bg.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto;
        width: 485px;
        height: 434px;
    }
    .button{
        background: none;
        border: none;
        background-image: url('@/assets/modal/next-button.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        width: 170px;
        height: 55px;
    }
    .menu{
        margin-top: 18%;
    }
    .sidebar{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    @media screen and (max-width:575px) {

            
            .modal-body{
                width: auto;
                height: 434px;
            }
           
    }
    @media screen and (max-width:514px) {
        .menu{
            width: 156px;
            height: 28px;
            margin-top: 8%;
        }
        .sidebar{
            width: 156px;
            height: 6px;
            margin-top: 2%;
            margin-bottom: 2%;
        }
        .form-group{
            max-width: 100%;
            width: 191px;
            .input{
                height: 35px;
            }
          }
        .button{
            background: none;
            border: none;
            background-image: url('@/assets/modal/next-button.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            width: 121px;
            height: 39px;
        }
        .modal-body{
            background-image: url('@/assets/modal/bg-mobile.png');
            width: auto;
            height: 307px;
        }
 
    }
      
}



.bg-index{
    background-image: linear-gradient(to left , #2F3541 , #343F50 , #26375C );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.carousel-indicators li{
    border-radius: 5px;
    width: 10px;
    height: 10px;
    border-top: none;
    border-bottom: none;
    transform: translate(0%, 0%);
    background-color: #B47C47;
}
.carousel-control-prev-icon{
    display: none;
}
.carousel-control-next-icon{
    display: none;
}

.special-game{
    .card{
        width: 426px;
        height: 313px;
        background-color: #C4C4C4;
        border-radius: 40px;
    
    }
}
.section-2{
.card{
    width: 426px;
    height: 313px;
    background-color: #C4C4C4;
    border-radius: 40px;

}
}

.description-gif{
    .bg-description-gif{
        background-image:  url('@/assets/index/bg-section-gif.png');
        background-position:  center center;
        background-repeat:  no-repeat;
        background-size:  cover;
        max-width:  100%;
        width:   425px ;
        height:  199px ;
        
        p{  
            color: white;
            font-size: 36px;
            transform: translate(0%, 170%);
            
        }
    }
    .text-menu-gif {
        margin-top: 7%;
        margin-bottom: 5%;
    }
}


.special-gif{   
    background-image:  url('@/assets/index/bg-section-2.png');
    background-position:  center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    max-width: 100%;
    width: 100%;
    height: auto;
    .group-card{
    .card{
        background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)) padding-box, /*this is your grey
background*/ linear-gradient(to bottom, #BD8F3A, #6F5A54) border-box;  
        padding:0px; 
        border: 10px solid transparent; 
        border-radius:40px;
        display:inline-block;
        background-color: white;
        color: black;
        width: 390px;
        height: auto;
        text-align: center;
        img{
            margin-top: 10%;
            width: 220px;
            height: 220px;
            
        }
        .new-gif{
            position: absolute;
            top: -8.9%;
            right: -5%;
        }
        .point{
            position: absolute;
            background-image: url('@/assets/index/bg-point.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            width: 189px;
            height: 58px;
            top: 51%;
            right: -3.7%;
            p{
                font-size: 24px;
                color: white;
                transform: translate(0%, 10%);
                font-weight: bold;
            }
        }
        .title{
            transform: translate(0%, 10%);
            h4{
            font-weight: bold;
            font-size: 30px;
            }
        }
        .card-body{
            padding-left: 0%;
            padding-right: 0%;
        }
        .comment{
            transform: translate(0%, 30%);
            padding: 0%;
            font-size: 18px;
            
        }
        
    }
    }
    
    .button-gif{
        margin-top: 10%;
        margin-bottom: 10%;
        .button-see-git{
        border: none;
        background: none;
        background-image:  url('@/assets/index/bg-seemore-gif-button.png');
        background-position:  center center;
        background-repeat:  no-repeat;
        background-size:  cover;
        max-width: 100%;
        width: 325px;
        height: 75px;
        img{
            transform: translate(0%, 50%);
        }
        }
    }
}

.gif-detail{
    background-image: linear-gradient(to left , #2F3541 , #343F50 , #26375C );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: auto;
    .bg-detail{
    background-image:  url('@/assets/index/bg-section-2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    }
    
    
    .menu{
        margin-top: 7%;
        margin-bottom: 7%;
    }
    .card{
        width: 720px;
        height: 303px;
        background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)) padding-box, /*this is your grey
background*/ linear-gradient(to bottom, #BD8F3A, #6F5A54) border-box;  
        padding:0px; 
        padding-left: 3%;
        border: 10px solid transparent; 
        display:inline-block;
        border-radius:40px;
        
    }
    .card-body{
        padding-right: 0%;
    }
    .title{
        transform: translate(0%, 28%);
        h4{
            font-weight: bold;
            font-size: 20px;
            
        }
    }
    .title-2{
        transform: translate(0%, 150%);
        h4{
            font-weight: bold;
            font-size: 20px;
            
        }
    }
    .comment{
        transform: translate(0%, 110%);
        p{
            font-size: 18px;
            font-weight: normal;
        }
    }
    .comment-2{
        transform: translate(0%, 90%);
        p{
            font-size: 18px;
            font-weight: normal;
            margin: 0%;
            padding-left: 3%;
        }
    }
    .read-more{
        
        transform: translate(0%, 250%);
        p{
            font-size: 18px;
            font-weight: normal;
            margin: 0%;
            padding-left: 3%;
            
        }
    }
    .point{
        position: absolute;
        background-image: url('@/assets/index/bg-point.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        width: 189px;
        height: 58px;
        top: 5%;
        right: -1.8%;
        p{
            font-size: 24px;
            color: white;
            transform: translate(0%, 10%);
            font-weight: bold;
        }
    }
    .button-gif{
        .gif-random-button{
        border: none;
        background: none;
        border-radius: 40px;
        transform: translate(0%, 10%);
        background-image: url('@/assets/gifDetail/gif-random-button.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        width: 189px;
        height: 58px;
        }
    }

}

.history{
    background-image: linear-gradient(to left , #2F3541 , #343F50 , #26375C );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: auto;
    .bg-history{
        background-image:  url('@/assets/index/bg-section-2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .menu{
        margin-top: 7%;
        margin-bottom: 7%;
    }
    .table-theme{
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 00px 00px 0px 0px;
        thead{
            border-radius: 00px 00px 0px 0px;
        }
    }
    .table-theme .table{
        color: white;
        border: 2px solid #F6D355;
        th {
            background: linear-gradient(180deg, #B47C47 0%, #F8D893 100%);
            border: 3px solid #F6D355;
            box-sizing: border-box;
            color: black;
            margin-top: 15%;
            margin-bottom: 15%;
            font-size: 32px;
        }

        td{
            border-left: 3px solid #F6D355;
            border-top: none;
            font-size: 22px;
        }
    }
    
}

.how-to-change-git{
    background-image: linear-gradient(to left , #2F3541 , #343F50 , #26375C );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: auto;
    
    .bg-how-to-change-git{
        background-image:  url('@/assets/index/bg-section-2.png');
        background-position:  center center;
        background-repeat:  no-repeat;
        background-size:  cover;
        max-width: 100%;
        width: 100%;
        height: auto;
        padding-bottom: 10%;
        .drop-gif-detail{
            background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)) padding-box, /*this is your grey
background*/ linear-gradient(to bottom, #BD8F3A, #6F5A54) border-box;  
            border: 4px solid transparent; 
            color: black;
            border-radius:20px;
            margin-left: 20%;
            margin-right: 20%;
            padding-left: 2%;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        .header-menu{
            font-size: 38px;
            background-image: none;
        }
        .body-comment{
            margin-top: 5%;
            font-size: 35px;
        }
        @media screen and (max-width: 768px) {
            .drop-gif-detail{
                margin-left: 10%;
                margin-right: 10%;
            }
            .header-menu{
                font-size: 22px;
                background-image: none;
            }
            .body-comment{
                margin-top: 5%;
                font-size: 20px;
            }
        }
        @media screen and (max-width: 414px) {
            
            .navbar-toggler{
                height: 30px;
                width: 40px;
                .b-icon.bi{
                    height: 15px;
                    width: 15px;
                }
            }
            .header-menu{
                font-size: 12px;
                background-image: none;
            }
            .body-comment{
                margin-top: 5%;
                font-size: 10px;
            }
        }
        
    }
    
}


.game-alot{
    background-image: linear-gradient(to left , #2F3541 , #343F50 , #26375C );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: auto;
    .bg-games{
        background-image:  url('@/assets/index/bg-section-2.png');
        background-position:  center center;
        background-repeat:  no-repeat;
        background-size:  cover;
        max-width: 100%;
        width: 100%;
        height: auto;
        padding-bottom: 10%;
    }
    .group-card{
        padding: 0%;
        margin: 0%;
        .card-deck{
            margin: 0%;
            padding: 0%;
        }
        .card{
            background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)) padding-box, /*this is your grey
    background*/ linear-gradient(to bottom, #BD8F3A, #6F5A54) border-box;  
            padding:0px; 
            margin-top: 8%;

            border: 10px solid transparent; 
            border-radius:40px;
            display:inline-block;
            background-color: white;
            color: black;
            width: 390px;
            height: auto;
            text-align: center;
            img{
                margin-top: 0%;
                width: 220px;
                height: 220px;
                
            }
            .new-gif{
                position: absolute;
                top: -8.9%;
                right: -5%;
            }
            .point{
                position: absolute;
                background-image: url('@/assets/games/bg-point-red.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                max-width: 100%;
                width: 189px;
                height: 58px;
                top: 46%;
                right: -3.7%;
                p{
                    font-size: 24px;
                    color: white;
                    transform: translate(0%, 10%);
                    font-weight: bold;
                }
            }
            
            .title{
                transform: translate(0%, 10%);
                text-align: left;
                padding-left: 5%;
                padding-right: 5%;
                h4{
                font-weight: bold;
                font-size: 30px;
                
                }
            }
            .card-body{
                padding-left: 0%;
                padding-right: 0%;
            }
            .comment{
                text-align: left;
                padding-left: 5%;
                padding-right: 5%;
                transform: translate(0%, 30%);
                
                font-size: 18px; 
            }
            
        }
        }
        .overflow-auto{
            max-width: 100%;
            width: 100%;
            text-align: center;
            background: none;
            margin-left: -8%;
            .pagination{
                .disabled{
                    display: none;
                }
                
                
            }
            .page-item{
                margin: 2%;
            }
            .page-link{
               border-radius: 40px;
               width: 60px;
               height: 60px;
                padding: 0%;
                margin: 0%;
               border: 0px solid;
               color: white;
               background: linear-gradient(180deg, #B47C47 0%, #E8CD6B 100%);
               font-size: 20px;
               button{
                   background-color: none;
                   border: none;
               }
           }
           .page-item.active {
               position: relative;
            background-color: #DDC262;
            border-radius: 40px;
        }
        }
        
}
