<template>
  <b-container fluid>
      <Navbar/>
      <div class="game-alot">
      <Banner/>
      <div class="bg-games">
          <b-row no-gutters class="d-flex justify-content-center">
              <b-col cols="12" class="d-flex justify-content-center mt-5">
                 <img src="../assets/games/games-menu.png" class="menu">
              </b-col>
          </b-row>
              <div class="group-card mt-5">
                  <b-row no-gutters class="d-flex justify-content-center">
                  <b-col cols="12" class="d-flex justify-content-center">
                  <b-card-group deck class="d-flex justify-content-center">
                      <div class="group-items">
                        <div class="item">
                      <div class="card-git-1 ">
                        <b-card img-src="../assets/games/gift-voucher.png" img-alt="Card image" img-top>
                        <!-- <div class="new-gif">
                        <img src="../assets/index/bg-new-gif.png">
                        </div> -->
                        <div class="point"> 
                            <b-col cols="12" class="d-flex justify-content-center">
                            <p>{{20}} พอยท์</p>
                            </b-col>
                        </div>
                        <div class="title ">
                        <b-card-text >
                        <h4 class="mb-0 item">Copy Voucher Central มูลค่า 500 บาท</h4>
                        </b-card-text>
                        </div>
                        <div class="comment ">
                        <b-card-text>
                        <p class="item">เพียง 20 พอยท์ แลก Voucher Central มูลค่า 500 บาท</p>
                        </b-card-text>
                        </div>
                        </b-card>
                        </div>
                        </div>
                        <div class="item">
                        <div class="card-git-2 ">
                        <b-card img-src="../assets/games/gift-voucher.png" img-alt="Card image" img-top>
                        <!-- <div class="new-gif">
                        <img src="../assets/index/bg-new-gif.png">
                        </div> -->
                        <div class="point"> 
                            <b-col cols="12" class="d-flex justify-content-center">
                            <p>{{20}} พอยท์</p>
                            </b-col>
                        </div>
                        <div class="title ">
                        <b-card-text >
                        <h4 class="mb-0 item">Copy Voucher Central มูลค่า 500 บาท</h4>
                        </b-card-text>
                        </div>
                        <div class="comment ">
                        <b-card-text>
                        <p class="item">เพียง 20 พอยท์ แลก Voucher Central มูลค่า 500 บาท</p>
                        </b-card-text>
                        </div>
                        </b-card>
                        </div>
                        </div>
                        <div class="item">
                        <div class="card-git-3 ">
                        <b-card img-src="../assets/games/gift-voucher.png" img-alt="Card image" img-top>
                        <!-- <div class="new-gif">
                        <img src="../assets/index/bg-new-gif.png">
                        </div> -->
                        <div class="point"> 
                            <b-col cols="12" class="d-flex justify-content-center">
                            <p>{{20}} พอยท์</p>
                            </b-col>
                        </div>
                        <div class="title ">
                        <b-card-text >
                        <h4 class="mb-0 item">Copy Voucher Central มูลค่า 500 บาท</h4>
                        </b-card-text>
                        </div>
                        <div class="comment ">
                        <b-card-text>
                        <p class="item">เพียง 20 พอยท์ แลก Voucher Central มูลค่า 500 บาท</p>
                        </b-card-text>
                        </div>
                        </b-card>
                        </div>
                        </div>
                        <div class="item">
                        <div class="card-git-4 ">
                        <b-card img-src="../assets/games/gift-voucher.png" img-alt="Card image" img-top>
                        <!-- <div class="new-gif">
                        <img src="../assets/index/bg-new-gif.png">
                        </div> -->
                        <div class="point"> 
                            <b-col cols="12" class="d-flex justify-content-center">
                            <p>{{20}} พอยท์</p>
                            </b-col>
                        </div>
                        <div class="title ">
                        <b-card-text >
                        <h4 class="mb-0 item">Copy Voucher Central มูลค่า 500 บาท</h4>
                        </b-card-text>
                        </div>
                        <div class="comment ">
                        <b-card-text>
                        <p class="item">เพียง 20 พอยท์ แลก Voucher Central มูลค่า 500 บาท</p>
                        </b-card-text>
                        </div>
                        </b-card>
                        </div>
                        </div>
                        <div class="item">
                        <div class="card-git-5 ">
                        <b-card img-src="../assets/games/gift-voucher.png" img-alt="Card image" img-top>
                        <!-- <div class="new-gif">
                        <img src="../assets/index/bg-new-gif.png">
                        </div> -->
                        <div class="point"> 
                            <b-col cols="12" class="d-flex justify-content-center">
                            <p>{{20}} พอยท์</p>
                            </b-col>
                        </div>
                        <div class="title ">
                        <b-card-text >
                        <h4 class="mb-0 item">Copy Voucher Central มูลค่า 500 บาท</h4>
                        </b-card-text>
                        </div>
                        <div class="comment">
                        <b-card-text>
                        <p class="item">เพียง 20 พอยท์ แลก Voucher Central มูลค่า 500 บาท</p>
                        </b-card-text>
                        </div>
                        </b-card>
                        </div>
                        </div>
                        <div class="item">
                        <div class="card-git-6 ">
                        <b-card img-src="../assets/games/gift-voucher.png" img-alt="Card image" img-top>
                        <!-- <div class="new-gif">
                        <img src="../assets/index/bg-new-gif.png">
                        </div> -->
                        <div class="point"> 
                            <b-col cols="12" class="d-flex justify-content-center">
                            <p>{{20}} พอยท์</p>
                            </b-col>
                        </div>
                        <div class="title ">
                        <b-card-text >
                        <h4 class="mb-0 item">Copy Voucher Central มูลค่า 500 บาท</h4>
                        </b-card-text>
                        </div>
                        <div class="comment ">
                        <b-card-text>
                        <p class="item">เพียง 20 พอยท์ แลก Voucher Central มูลค่า 500 บาท</p>
                        </b-card-text>
                        </div>
                        </b-card>
                        </div>
                        </div>
                        <div class="item">
                        <div class="card-git-7">
                        <b-card img-src="../assets/games/gift-voucher.png" img-alt="Card image" img-top>
                        <!-- <div class="new-gif">
                        <img src="../assets/index/bg-new-gif.png">
                        </div> -->
                        <div class="point"> 
                            <b-col cols="12" class="d-flex justify-content-center">
                            <p>{{20}} พอยท์</p>
                            </b-col>
                        </div>
                        <div class="title ">
                        <b-card-text >
                        <h4 class="mb-0 item">Copy Voucher Central มูลค่า 500 บาท</h4>
                        </b-card-text>
                        </div>
                        <div class="comment ">
                        <b-card-text>
                        <p class="item">เพียง 20 พอยท์ แลก Voucher Central มูลค่า 500 บาท</p>
                        </b-card-text>
                        </div>
                        </b-card>
                        </div>
                        </div>
                        <div class="item">
                        <div class="card-git-8">
                        <b-card img-src="../assets/games/gift-voucher.png" img-alt="Card image" img-top>
                        <!-- <div class="new-gif">
                        <img src="../assets/index/bg-new-gif.png">
                        </div> -->
                        <div class="point"> 
                            <b-col cols="12" class="d-flex justify-content-center">
                            <p>{{20}} พอยท์</p>
                            </b-col>
                        </div>
                        <div class="title ">
                        <b-card-text >
                        <h4 class="mb-0 item">Copy Voucher Central มูลค่า 500 บาท</h4>
                        </b-card-text>
                        </div>
                        <div class="comment ">
                        <b-card-text>
                        <p class="item">เพียง 20 พอยท์ แลก Voucher Central มูลค่า 500 บาท</p>
                        </b-card-text>
                        </div>
                        </b-card>
                        </div>
                        </div>
                        <div class="item">
                        <div class="card-git-9">
                        <b-card img-src="../assets/games/gift-voucher.png" img-alt="Card image" img-top>
                        <!-- <div class="new-gif">
                        <img src="../assets/index/bg-new-gif.png">
                        </div> -->
                        <div class="point"> 
                            <b-col cols="12" class="d-flex justify-content-center">
                            <p>{{20}} พอยท์</p>
                            </b-col>
                        </div>
                        <div class="title ">
                        <b-card-text >
                        <h4 class="mb-0 item">Copy Voucher Central มูลค่า 500 บาท</h4>
                        </b-card-text>
                        </div>
                        <div class="comment ">
                        <b-card-text>
                        <p class="item">เพียง 20 พอยท์ แลก Voucher Central มูลค่า 500 บาท</p>
                        </b-card-text>
                        </div>
                        </b-card>
                        </div>
                        </div>
                        </div>
                  </b-card-group>
                  </b-col>
                  </b-row>
                  <b-row no-gutters class="d-flex justify-content-center mt-5">
                      
                          <div class="overflow-auto">
                             <b-col cols="12" class="d-flex justify-content-center" style="padding: 0%">
                                <!-- Use text in props -->
                                <b-pagination
                                v-model="currentPage"
                                :total-rows="rows"
                                :per-page="perPage"
                                prev-text="Prev"
                                next-text="Next"
                                
                                >   <template #prev-text><span class="text-white">ก่อนหน้า</span></template>
                                    <template #next-text><span class="text-white">ถัดไป</span></template>
                                    
                                    <template #page="{ page, active }">
                                        <b v-if="active">{{ page }}</b>
                                        <i v-else>{{ page }}</i>
                                    </template>
                                    </b-pagination>
                               </b-col>
                            </div>
                      
                  </b-row>
              </div>
          
      </div>
      </div>
  </b-container>
</template>

<script>
export default {
    data() {
      return {
        rows: 100,
        perPage: 10,
        currentPage: 1
      }
    }
}
</script>

<style lang="scss" scoped>

    
    .group-items {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 418px);
      grid-gap: 10px;
      justify-content: center;
    }

    .group-items .item {
      padding: 0 !important;
      border-radius: 10px;
    }
    @media screen and (max-width: 1366px) {
      .group-items {
     
      grid-template-columns: repeat(2, 418px);
      }
    }
     @media screen and (max-width: 900px) {
        .menu{
            width: 600px;
        }
      .group-items {
          
      grid-template-columns: repeat(1, 418px);
    }
    }
     @media screen and (max-width: 600px) {
        .menu{
            width: 319px;
        }
        .group-card{
        padding: 0%;
        margin: 0%;
        .card-deck{
            margin: 0%;
            padding: 0%;
        }
        .card{
           background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)) padding-box, /*this is your grey
    background*/ linear-gradient(to bottom, #BD8F3A, #6F5A54) border-box;
            width: 170px;
            height: 252px;
            text-align: center;
            margin-top: 10%;
            border: 4px solid transparent; 
            border-radius: 10px;

            img{
                margin-top: 10%;
                width: 94px;
                height: 94px;
                
            }
            .new-gif{
                position: absolute;
                top: -8.9%;
                right: -5%;
            }
            .point{
                position: absolute;
                background-image: url('@/assets/games/bg-point-red.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                max-width: 100%;
                width: 94px;
                height: 28px;
                top: 44%;
                right: -3.2%;
                p{
                    font-size: 14px;
                    color: white;
                    transform: translate(0%, 10%);
                    font-weight: bold;
                }
            }
            
            .title{
                transform: translate(0%, 40%);
                text-align: left;
                padding-left: 5%;
                padding-right: 5%;
                h4{
                font-weight: bold;
                font-size: 12px;
                
                }
            }
            .card-body{
                padding-left: 0%;
                padding-right: 0%;
            }
            .comment{
                text-align: left;
                padding-left: 5%;
                padding-right: 5%;
                transform: translate(0%, 35%);
                
                font-size: 12px; 
            }
            
        }
        }
      .group-items {
      grid-template-columns: repeat(3, 180px);
       grid-gap: 0px;
    }
    }
    @media screen and (max-width: 576px) {
    .group-items {
      grid-template-columns: repeat(2, 180px);
       grid-gap: 0px;
    }
    }
    @media screen and (max-width: 320px) {
        .menu{
            width: 200px;
        }
    .group-items {
      grid-template-columns: repeat(1, 180px);
       grid-gap: 0px;
    }
    }
    /* .section-casino .group-items .item img {
      border-radius: 10px;
    } */
</style>