<template>
  <b-container fluid>
      <Navbar/>
      <div class="gif-detail">
      <b-row no-gutters class="d-flex justify-content-center">
          <div class="bg-detail">
          <b-row no-gutters class="d-flex justify-content-center ">
            <b-col cols="12" class="d-flex justify-content-center menu">
                <img src="../assets/gifDetail/text-gif-detail.png">
            </b-col>
            </b-row>
          <b-row no-gutters class="d-flex justify-content-center ">
          <b-col cols="3" xl="4" lg="4" md="3"  class="d-flex justify-content-end">
            <img src="../assets/gifDetail/item-gif.png">
          </b-col>
          <b-col cols="12" xl="8" lg="8" md="12" class="">
            <b-col cols="12" lg="12" md="12" sm="12" class="d-flex justify-content-center">
            <div class="card-git-1">
            <b-card>
             <div class="point"> 
                <b-col cols="12" class="d-flex justify-content-center">
                  <p>{{50}} พอยท์</p>
                </b-col>
            </div>
            <div class="title">
            <b-card-text >
              <h4 class="mb-0">ลุ้นรับ Nintendo Switch Neon มูลค่า 12,290 บาท</h4>
            </b-card-text>
            </div>
            <div class="comment">
            <b-card-text>
             <p>เพียง 50 พอยท์ ลุ้นรับ Nintendo Switch Neon ราคา 12,290 บาท จำนวน 1 รางวัล</p>
            </b-card-text>
            </div>
             <div class="title-2">
            <b-card-text >
              <h4 class="mb-0">กติกาและเงื่อนไขการลุ้นของรางวัลพิเศษ</h4>
            </b-card-text>
            </div>
            <div class="comment-2">
            <b-card-text>
             <p> ใช้ 50 พอยท์ เพื่อแลก 1 สิทธิ์ลุ้น</p>
              <p> ไม่จำกัดจำนวนในการแลกและใช้สิทธิ์ลุ้นของรางวัล LUCK DRAW</p>
            </b-card-text>
            </div>
            <div class="read-more">
            <b-card-text>
              <p>อ่านรายละเอียดเพิ่มเติม</p>
            </b-card-text>
            </div>
            </b-card>
            </div>
            </b-col>
          </b-col>
          </b-row>
          
          </div>
      </b-row>
      </div>
  </b-container>
</template>

<script>
export default {

}
</script>

<style>

</style>