<template>
  <b-container fluid>
      <Navbar/>
      <div class="history">
      <b-row no-gutters  class="d-flex justify-content-center">
        <div class="bg-history">
        <b-col cols="12" class="d-flex justify-content-center">
            <img src="../assets/history/text-menu.png" class="menu">
        </b-col>
        
        <div class="table">
            <b-col cols="12" class="d-flex justify-content-center">
            <b-table-simple  responsive class="table-theme">
            <b-thead>
              <b-tr>
                <b-th>วันที่/เวลา</b-th>
                <b-th>รายการ</b-th>
                <b-th>จำนวนพอยท์</b-th>
                <b-th>สถานะ</b-th>
              </b-tr>
            </b-thead>
            <b-tbody>
              <b-tr v-for="n in 14" :key="n">
                <b-td>11/12/21 16:59</b-td>
                <b-td v-text="list[Math.floor(Math.random() * list.length)]">ฝาก</b-td>
                <b-td >100</b-td>
                <b-td 
                  v-html="getStatus()" 
                ></b-td>
              </b-tr>
            </b-tbody>
          </b-table-simple>
            </b-col>
        </div>
        </div>
      </b-row>
      </div>
  </b-container>
</template>

<script>
export default {
    data() {
    return {
      rows: 12,
      perPage: 3,
      currentPage: 1,
      list: ['ได้พอยท์', 'แลกของรางวัล'],
      status: ['สำเร็จ', 'ไม่สำเร็จ', 'จัดส่งแล้ว', 'ยกเลิกรายการ', 'รอทำรายการ', 'หมดเวลา']
    }
  },
  methods:{
    getStatus(){
      const status = this.status[Math.floor(Math.random() * this.status.length)]
      let Statusclass = null

      switch (status) {
        case 'สำเร็จ':
          Statusclass = 'success'
          break;
        case 'ไม่สำเร็จ':
          Statusclass = 'failed'
          break;
        default:
          Statusclass = 'failed'
          break;
      }
      const result = `<span class="${Statusclass}">${status}</span>`
      return result
    }
  }
}
</script>

<style lang="scss" scoped>
.history{
    min-height: 100vh;
    .bg-history{
      padding-bottom: 5%;
      min-height: 100vh;
    }
  }
  @media screen and (max-width: 576px){
    .menu{
    width: 163px;
  }
  .history .table-theme .table th {
    font-size: 12px;
    transform: translate(0%, 00%);
    padding-bottom: 5%;
  }
  .history .table-theme .table td{
     font-size: 12px;
  }
  }

</style>