<template>
  <b-container fluid>
      <Navbar/>
      
      <div class="how-to-change-git section">
          
      <b-row no-gutters>
        <div class="bg-how-to-change-git">
        <Banner/>
          <b-col cols="12" class="d-flex justify-content-center mt-5">
              <img src="../assets/howtochangegif/text-change-gif.png" class="menu">
          </b-col>
          
          <div class="drop-details-gif mt-5">
              
          <b-col cols="12" class="justify-content-center">
                <b-navbar toggleable   class="drop-gif-detail">
                    <b-navbar-brand href="#" class="header-menu">วิธีสะสมพอยท์</b-navbar-brand>

                    <b-navbar-toggle target="navbar-toggle-collapse-1">
                    <template #default="{ expanded1 }">
                        <b-icon v-if="expanded1" icon="chevron-bar-up"></b-icon>
                        <b-icon v-else icon="chevron-bar-down"></b-icon>
                    </template>
                    </b-navbar-toggle>

                    <b-collapse id="navbar-toggle-collapse-1" is-nav>
                    <b-navbar-nav class="ml-auto body-comment">
                        <p>What is Lorem Ipsum? <br>
                            Lorem Ipsum is simply dummy text of the <br>
                            printing and typesetting industry. Lorem <br>
                            Ipsum has been the industry's standard <br>
                            dummy text ever since the 1500s, when <br>
                            an unknown printer took a galley of type <br>
                            and scrambled it to make a type specimen <br>
                            book. It has survived not only five centuries,<br>
                            but also the leap into electronic typesetting,<br>
                            remaining essentially unchanged. It was </p>
                    </b-navbar-nav>
                    </b-collapse>
                </b-navbar>
          </b-col>
          </div>
          <div class="drop-details-gif-2 mt-3">
          <b-col cols="12" class="justify-content-center">
                <b-navbar toggleable   class="drop-gif-detail">
                    <b-navbar-brand href="#" class="header-menu">วิธีเข้าร่วมแลกของรางวัล</b-navbar-brand>

                    <b-navbar-toggle target="navbar-toggle-collapse-2">
                    <template #default="{ expanded2 }">
                        <b-icon v-if="expanded2" icon="chevron-bar-up"></b-icon>
                        <b-icon v-else icon="chevron-bar-down"></b-icon>
                    </template>
                    </b-navbar-toggle>

                    <b-collapse id="navbar-toggle-collapse-2" is-nav>
                    <b-navbar-nav class="ml-auto body-comment" >
                        <p>What is Lorem Ipsum? <br>
                            Lorem Ipsum is simply dummy text of the <br>
                            printing and typesetting industry. Lorem <br>
                            Ipsum has been the industry's standard <br>
                            dummy text ever since the 1500s, when <br>
                            an unknown printer took a galley of type <br>
                            and scrambled it to make a type specimen <br>
                            book. It has survived not only five centuries,<br>
                            but also the leap into electronic typesetting,<br>
                            remaining essentially unchanged. It was </p>
                    </b-navbar-nav>
                    </b-collapse>
                </b-navbar>
          </b-col>
          </div>
          <div class="drop-details-gif-3 mt-3 ">
          <b-col cols="12" class="justify-content-center">
                <b-navbar toggleable   class="drop-gif-detail">
                    <b-navbar-brand href="#" class="header-menu">วิธีแลกของรางวัล</b-navbar-brand>

                    <b-navbar-toggle target="navbar-toggle-collapse-3">
                    <template #default="{ expanded3 }">
                        <b-icon v-if="expanded3" icon="chevron-bar-up"></b-icon>
                        <b-icon v-else icon="chevron-bar-down"></b-icon>
                    </template>
                    </b-navbar-toggle>

                    <b-collapse id="navbar-toggle-collapse-3" is-nav>
                    <b-navbar-nav class="ml-auto body-comment">
                        <p>What is Lorem Ipsum? <br>
                            Lorem Ipsum is simply dummy text of the <br>
                            printing and typesetting industry. Lorem <br>
                            Ipsum has been the industry's standard <br>
                            dummy text ever since the 1500s, when <br>
                            an unknown printer took a galley of type <br>
                            and scrambled it to make a type specimen <br>
                            book. It has survived not only five centuries,<br>
                            but also the leap into electronic typesetting,<br>
                            remaining essentially unchanged. It was </p>
                    </b-navbar-nav>
                    </b-collapse>
                </b-navbar>
          </b-col>
          </div>
          </div>
      </b-row>
      </div>
  </b-container>
</template>

<script>
export default {
    data() {
      return {
        text: `
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
          richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
          brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
          tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
          assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
          wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
          vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
          synth nesciunt you probably haven't heard of them accusamus labore VHS.
        `
      }
    }
}
</script>

<style lang="scss" scoped>
    .menu{

        min-width: 174px;
    }
    @media only screen and (max-width: 768px) {
        .menu{
        width: 274px;
    }
    }
    @media only screen and (max-width: 414px) {
        .menu{
        width: 174px;
    }
    }
</style>