<template>
  
  <b-container fluid>
    <Navbar/>
    <Modal/>
    <Banner/>
    <div class="bg-index">
    <b-row no-gutters class="d-flex justify-content-center">
      <div class="special-game mt-5">
        <b-col cols="12" class="d-flex justify-content-center ">
          <img src="../assets/index/text-section1.png" class="section1-menu">
        </b-col>
        <b-col cols="12" lg="12" md="12" sm="12" class="d-flex justify-content-center mb-5">
          <b-card-group deck>
            <b-row no-gutters class="d-flex justify-content-center"> 
              <div class="group-items-section1">
                <div class="item">
             <b-col cols="12"  class="d-flex justify-content-center mt-5">
              <b-card
                header="featured"
                header-tag="header"
                footer="Card Footer"
                footer-tag="footer"
                title="Title"
              >
              <b-card-text>Header and footers using props.</b-card-text>
                <b-button href="#" variant="primary">Go somewhere</b-button>
              </b-card>
             </b-col>
                </div>
               <div class="item"> 
              <b-col cols="12"  class="d-flex justify-content-center mt-5">
              <b-card title="Title" header-tag="header" footer-tag="footer">
                <template #header>
                  <h6 class="mb-0">Header Slot</h6>
                </template>
                <b-card-text>Header and footers using slots.</b-card-text>
                <b-button href="#" variant="primary">Go somewhere</b-button>
                <template #footer>
                  <em>Footer Slot</em>
                </template>
              </b-card>
              </b-col>
               </div>
               <div class="item">
               <b-col cols="12"  class="d-flex justify-content-center mt-5">
              <b-card title="Title" header-tag="header" footer-tag="footer">
                <template #header>
                  <h6 class="mb-0">Header Slot</h6>
                </template>
                <b-card-text>Header and footers using slots.</b-card-text>
                <b-button href="#" variant="primary">Go somewhere</b-button>
                <template #footer>
                  <em>Footer Slot</em>
                </template>
              </b-card>
               </b-col>
               </div>
              </div>
            </b-row>
          </b-card-group>
        </b-col>
      </div>
      <div class="description-gif mt-5 mb-5">
        <b-row no-gutters  class="d-flex justify-content-center">
          <b-col cols="12" xl="4" lg="6" md="12" sm="12" class="d-flex justify-content-center">
           <div class="bg-description-gif">
             <b-col cols="12" lg="12" class="d-flex justify-content-center">
               <p>อัพเดตรางวัล</p>
             </b-col>
           </div>
          </b-col>
          <b-col cols="12" xl="4" lg="6" md="12" sm="12" class="d-flex justify-content-center">
           <div class="bg-description-gif">
             <b-col cols="12" lg="12" class="d-flex justify-content-center">
               <p>วิธีแลกของรางวัล</p>
             </b-col>
           </div>
          </b-col>
          <b-col cols="12" xl="4" lg="6" md="12" sm="12" class="d-flex justify-content-center">
           <div class="bg-description-gif">
             <b-col cols="12" lg="12" class="d-flex justify-content-center">
               <p>วิธีเพิ่มพ้อยท์</p>
             </b-col>
           </div>
          </b-col>
          </b-row>
          <div class="text-menu-gif ">
          <b-col cols="12" class="d-flex justify-content-center">
            <img src="../assets/index/text-section2.png" class="section2-menu">
          </b-col>
          </div>
      </div>
      <div class="special-gif section-2 ">
        <b-row no-gutters class="d-flex justify-content-center">
          <div class="group-card mt-5">
           <b-card-group deck>
             <div class="group-items">
               <div class="item">
            <div class="card-git-1">
            <b-card img-src="../assets/index/item-gif.png" img-alt="Card image" img-top>
            <div class="new-gif">
              <img src="../assets/index/bg-new-gif.png">
            </div>
             <div class="point"> 
                <b-col cols="12" class="d-flex justify-content-center">
                  <p>{{50}} พอยท์</p>
                </b-col>
            </div>
            <div class="title">
            <b-card-text >
              <h4 class="mb-0">ลุ้นรับ Nintendo Switch Neon มูลค่า 12,290 บาท</h4>
            </b-card-text>
            </div>
            <div class="comment">
            <b-card-text>
             <p>เพียง 50 พอยท์ ลุ้นรับ Nintendo Switch Neon ราคา 12,290 บาท จำนวน 1 รางวัล</p>
            </b-card-text>
            </div>
            </b-card>
            </div>
            </div>
            <div class="item">
            <div class="card-git-2">
            <b-card img-src="../assets/index/item-gif.png" img-alt="Card image" img-top>
            <div class="new-gif">
              <img src="../assets/index/bg-new-gif.png">
            </div>
             <div class="point"> 
                <b-col cols="12" class="d-flex justify-content-center">
                  <p>{{50}} พอยท์</p>
                </b-col>
            </div>
            <div class="title">
            <b-card-text >
              <h4 class="mb-0">ลุ้นรับ Nintendo Switch Neon มูลค่า 12,290 บาท</h4>
            </b-card-text>
            </div>
            <div class="comment">
            <b-card-text>
             <p>เพียง 50 พอยท์ ลุ้นรับ Nintendo Switch Neon ราคา 12,290 บาท จำนวน 1 รางวัล</p>
            </b-card-text>
            </div>
            </b-card>
            </div>
            </div>
             <div class="item">
            <div class="card-git-3">
            <b-card img-src="../assets/index/item-gif.png" img-alt="Card image" img-top>
            <!-- <div class="new-gif">
              <img src="../assets/index/bg-new-gif.png">
            </div> -->
             <div class="point"> 
                <b-col cols="12" class="d-flex justify-content-center">
                  <p>{{50}} พอยท์</p>
                </b-col>
            </div>
            <div class="title">
            <b-card-text >
              <h4 class="mb-0">ลุ้นรับ Nintendo Switch Neon มูลค่า 12,290 บาท</h4>
            </b-card-text>
            </div>
            <div class="comment">
            <b-card-text>
             <p>เพียง 50 พอยท์ ลุ้นรับ Nintendo Switch Neon ราคา 12,290 บาท จำนวน 1 รางวัล</p>
            </b-card-text>
            </div>
            </b-card>
            </div>
             </div>
             </div>
           </b-card-group>
          </div>
        </b-row>
        <div class="button-gif">
            <b-col cols="12" lg="12" md="12" sm="12" class="d-flex justify-content-center">
                <button type="button" class="button-see-git d-flex justify-content-center">
                  <NuxtLink to="/gifdetail"><img src="../assets/index/text-see-gif-all.png"></NuxtLink>
                </button>
            </b-col>
          </div>
      </div>
    </b-row>
    </div>
  </b-container>
</template>

<script>
export default {
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
}
</script>
<style lang="scss" scoped>
  .group-items {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 410px);
      grid-gap: 10px;
      justify-content: center;
    }

    .group-items .item {
      padding: 0 !important;
      border-radius: 10px;
    }
    .group-items-section1 {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 410px);
      grid-gap: 10px;
      justify-content: center;
    }

    .group-items-section1 .item {
      padding: 0 !important;
      border-radius: 10px;
    }
    @media screen and (max-width: 1366px){
       .group-items{
         grid-template-columns: repeat(2, 410px);
       }
       .group-items-section1{
         grid-template-columns: repeat(2, 410px);
       }
       .section1-menu{
         width: 70%;
       }
       .section2-menu{
         width: 100%;

       }
    }
    @media screen and (max-width: 900px){
       .group-items{
         grid-template-columns: repeat(1, 410px);
       }
       .group-items-section1{
         grid-template-columns: repeat(1, 410px);
       }
    }
    @media screen and (max-width: 600px) {
          .group-card{
        padding: 0%;
        margin: 0%;
        .card-deck{
            margin: 0%;
            padding: 0%;
        }
        .card{
           background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)) padding-box, /*this is your grey
    background*/ linear-gradient(to bottom, #BD8F3A, #6F5A54) border-box;
            width: 170px;
            height: 252px;
            text-align: center;
            margin-top: 10%;
            border: 4px solid transparent; 
            border-radius: 10px;

            img{
                margin-top: 10%;
                width: 94px;
                height: 94px;
                
            }
            .new-gif{
                position: absolute;
                top: -8.9%;
                right: -5%;
            }
            .point{
                position: absolute;
                background-image: url('@/assets/games/bg-point-red.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                max-width: 100%;
                width: 94px;
                height: 28px;
                top: 44%;
                right: -3.2%;
                p{
                    font-size: 14px;
                    color: white;
                    transform: translate(0%, 10%);
                    font-weight: bold;
                }
            }
            
            .title{
                transform: translate(0%, 40%);
                text-align: left;
                padding-left: 5%;
                padding-right: 5%;
                h4{
                font-weight: bold;
                font-size: 12px;
                
                }
            }
            .card-body{
                padding-left: 0%;
                padding-right: 0%;
            }
            .comment{
                text-align: left;
                padding-left: 5%;
                padding-right: 5%;
                transform: translate(0%, 35%);
                
                font-size: 12px; 
            }
            
        }
        }
      .group-items {
      grid-template-columns: repeat(3, 190px);
       grid-gap: 0px;
    }
    }
    @media screen and (max-width: 576px) {
      .group-items {
      grid-template-columns: repeat(2, 180px);
       grid-gap: 10px;
    }
    }
    @media screen and (max-width: 414px) {
      .section1-menu{
         width: 201px;
       }
       .section2-menu{
         width: 353px;
       }
       
    }
    @media screen and (max-width: 320px) {
      .section1-menu{
         width: 171px;
       }
       .section2-menu{
         width: 253px;

       }
    }
</style>


