<template>
  <b-container fluid>
      <Modal/>
      <b-row no-gutters class="d-flex justify-content-center">
          <b-col cols="12" class="d-flex justify-content-center">
                 <button v-b-modal.modal-login type="button" class="button" >ล้อกอิน</button>
                 <button v-b-modal.modal-register type="button" class="button" >สมัครสมาชิก</button>
                 <button v-b-modal.modal-alert type="button" class="button" >แจ้งเตือน</button>
          </b-col>
      </b-row>
  </b-container>
</template>

<script>
export default {

}
</script>

<style>

</style>